{% extends 'base.html.twig' %}

{% block body %}
<div class="mb-4 flex justify-between">
    <h2 class="text-lg font-bold">Liste des Professeurs</h2>
</div>
<table class="table-auto border-collapse border border-gray-400 w-full bg-white shadow-md rounded-lg">
    <thead>
        <tr class="bg-blue-600 text-white">
            <th class="border border-gray-300 px-4 py-2">ID</th>
            <th class="border border-gray-300 px-4 py-2">Nom</th>
            <th class="border border-gray-300 px-4 py-2">Cours</th>
        </tr>
    </thead>
    <tbody>
        {% for professeur in professeurs %}
        <tr class="hover:bg-gray-100">
            <td class="border border-gray-300 px-4 py-2">{{ professeur.id }}</td>
            <td class="border border-gray-300 px-4 py-2">{{ professeur.nomProfesseur }}</td>
            <td class="border border-gray-300 px-4 py-2">
                <a href="{{ path('cours_by_professeur', { id: professeur.id }) }}" class="px-2 py-1 bg-blue-500 text-white rounded hover:bg-blue-600">Consulter</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}